<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Package List</title>
</head>
<body ng-app="my-app">
    <div ng-controller="booklistCtrl" class="container mt-3">
        <h3>Package List</h3>
        <table class="table table-bordered" >
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Book Name</th>
                  <th>Publisher Name</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="book in books" >
                    <td>{{book.Id}}</td>
                    <td>{{book.BookName}}</td>
                    <td>{{book.PublisherName}}</td>
                    <td>{{book.PublishDate}}</td>
                    <td>
                        <a href="bookEdit.html" class="btn btn-success" >Edit</a>
                        
                        <button ng-controller="packageDeleteCtrl" class="btn btn-danger" ng-click="deletePackage(p.Id)">Delete</button>
                    </td>
                </tr>  
              </tbody>
        </table>
    </div>
    <script src="/app/libs/angular-1.8.2/angular.min.js"></script>
    <script src="/content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/app/controllers/Book/bookAll.js"></script>
    
    
</body>
</html>