<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="my-app">
    <h1>prottasha</h1>

    <!-- <div ng-controller="agencyDeleteCtrl" class="container mt-3">
         <h3>Agency</h3>
        <form  ng-submit="createAgency()" novalidate>
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Agency Name</label>
                <input type="text" ng-model="name" class="form-control">
            </div>
            <div class="mb-3 mt-3">
                <label for="international" class="form-label">IsInternational</label>
                <input type="text" ng-model="international" class="form-control">
            </div>
            <div class="mb-3 mt-3">
                <label for="userid" class="form-label">User Id</label>
            <input type="text" ng-model="userid" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form> 
    </div> -->

















    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="/app/controllers/agency.js"></script>
</body>
</html>


<!--  -->